# Game WebSocket Server Host (e.g. ws.aarab.me or localhost:8787)
PUBLIC_WS_HOST=

# Web application public site URL (e.g. https://undercover.aarab.me)
PUBLIC_SITE_URL=

# Cloudflare Turnstile site key
PUBLIC_TURNSTILE_SITEKEY=
